{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
    <details-modal class="header__search">
      <details>
        <summary
          class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
          aria-haspopup="dialog"
          aria-label="Search"
          role="button"
        >
          <span>
            <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">
              </use>
            </svg>
            <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
                <use href="#icon-close">
              </use>
            </svg>
          </span>
        </summary>
        <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="Search">
          <div class="modal-overlay"></div>
          <div class="search-modal__content search-modal__content-bottom" tabindex="-1">
            <predictive-search class="search-modal__form" data-loading-text="Loading...">
              <form action="/search" method="get" role="search" class="search search-modal__form">
                <div class="field">
                  <input
                    class="search__input field__input"
                    id="Search-In-Modal-1"
                    type="search"
                    name="q"
                    value=""
                    placeholder="Search"
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  >
                  <label class="field__label" for="Search-In-Modal-1">Search</label>
                  <input type="hidden" name="options[prefix]" value="last">
                  <button type="reset" class="reset__button field__button hidden" aria-label="Clear search term">
                    <svg class="icon icon-close" aria-hidden="true" focusable="false">
                        <use xlink:href="#icon-reset">
                      </use>
                    </svg>
                  </button>
                  <button class="search__button field__button" aria-label="Search">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false">
                        <use href="#icon-search">
                      </use>
                    </svg>
                  </button>
                </div>
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search="">
                  <link
                    href="//occvip.com/cdn/shop/t/4/assets/component-loading-spinner.css?v=116724955567955766481718831976"
                    rel="stylesheet"
                    type="text/css"
                    media="all"
                  >

                  <div class="predictive-search__loading-state">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              </form></predictive-search
            ><button
              type="button"
              class="search-modal__close-button modal__close-button link link--text focus-inset"
              aria-label="Close"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                  <use href="#icon-close">
                </use>
              </svg>
            </button>
          </div>
        </div>
      </details>
    </details-modal>
  </ul>
</nav>
