<section  class="giveaway" style="background-color: #952525; position: relative; background-image: url({{ 'bg_image_2.png' | asset_url }})">
    <div class="giveaway__container" 
    style=
    "text-align: center;position: relative; width: 80%; margin: 0 auto; "
    >
        <div class="giveaway__container__bg-img"
        style="background-image: url({{  'motorcycle.svg' | asset_url }}); background-size: cover; background-repeat: no-repeat"
        ></div>
        <div class="giveaway__container__title">
            <img src="{{ 'confetti.webp' | asset_url }}"/>
            <h3 style="margin:0;" class="giveaway__container__title">
                {{ section.settings.giveaway_title }}
            </h3>
            <img src="{{ 'confetti.webp' | asset_url }}"/>

        </div>
        <h2 style="margin:0" class="giveaway__container__amount">
            {{ section.settings.giveaway_amount }}
        </h2>
        <div class="giveaway__container__title">
            <img src="{{ 'fire.webp' | asset_url }}"/>
            <h3 style="margin:0;" class="giveaway__container__title">
                {{ section.settings.giveaway_subtitle }}
            </h3>
            <img src="{{ 'fire.webp' | asset_url }}"/>

        </div>
        {% comment %} <img style="top:0; left:0; height: 100%;width: 100%; opacity: 0.2;height: 100%; position: absolute" src="{{ 'motorcycle.svg' | asset_url }}" alt=""> {% endcomment %}

    </div>
</section>
{% schema %}
{
    "name": "Giveaway Section",
    "settings": [
            {
                "type": "text",
                "id": "giveaway_title",
                "label": "Giveaway Title",
                "default": "🎉 Shop to Enter 🎉"
            },
            {
                "type": "text",
                "id": "giveaway_amount",
                "label": "Giveaway Amount",
                "default": "$100K"
            },
            {
                "type": "text",
                "id": "giveaway_subtitle",
                "label": "Giveaway Subtitle",
                "default": "🔥 Giveaway 🔥"
            }
        ],
        "presets": [
            {   
                "name": "Giveaway Section"
            }
        ]
}
{% endschema %}